<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--This maintains the scale of the page based on the scale of the screen-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--This liquid tag loads all of the necessary css files for HomeSeer-->
    {{includefile '/bootstrap/css/page_common.css'}}
    <title>InfluxDB Device Add</title>
	
    <link href="/css/hs.css" rel="stylesheet">
</head>
	{{	
	validation=[]
	data={}
	
	if queries["save"]
		data=queries
		addResult=plugin_function 'InfluxDBPersistence' 'AddDeviceImportData' [queries]	
		
		validation=addResult['error'] 
		redirect=validation.empty?
		
		if redirect
			deviceDetails=plugin_function 'InfluxDBPersistence' 'GetDeviceDetails' [  addResult['refId'] | string.strip] 
			deviceLink=""
			if deviceDetails['ref']  
				deviceLink="ref=" + deviceDetails['ref'] + "&subpage=devprop" 
			end
		end
	end
	
	
	
	}}
	
<body class="body homeseer-skin" aria-busy="true">	
    {{includefile 'header.html'}}
    {{includefile 'navbar.html'}}
<div class="container card mb-3"> 
	
	{{if !redirect}}
	
		<nav class="navbar">  
			<div class="navbar-brand">Add InfluxDB Import Device</div>
		</nav>
		
		<form class="md-form ml-3" action="/InfluxDBPersistence/adddeviceimport.html" method="GET">		
			
			{{if !validation.empty?}}
				<div class="row mt-1 mb-1">
					<div class="md-form col-md alert alert-danger" role="alert">
						{{ for item in validation}}	
							{{ item }}<BR>
						{{end}}
					</div>
				</div>
			{{end}}
				
			<div class="row mt-1 mb-1">
				<div class="md-form col-md">	 
					<input type="text" id="name" class="form-control" name="name" value="{{data['name'] | html.escape}}" required>
					<label for="name">Name of the device</label>
				</div>
			</div>		
			
			<div class="row mt-1 mb-1">
				<div class="md-form col-md">			
					<textarea id="sql" class="md-textarea form-control" name="sql" required>{{data['sql'] | html.escape}}</textarea>
					<label for="sql" >Sql for importing from database</label>				
				</div>
			</div>
									
			<div class="row mt-1 mb-1">
				<div class="md-form col-md">	 
					<input type="number" id="intervalseconds" class="form-control" name="intervalseconds" value="{{data['intervalseconds'] ?? '60' | html.escape}}" required>
					<label for="measurement">Interval in seconds for each update</label>
				</div>
			</div>

			<div class="row mt-1 mb-1">
				<div class="md-form col-md">	 
					<input type="text" id="unit" class="form-control" name="unit" value="{{data['unit'] | html.escape}}">
					<label for="measurement">Unit of value shown in device</label>
				</div>
			</div>	

			<div class="row mt-1 mb-1">
				<div class="col-md d-flex justify-content-end">
					<button class="btn btn-default waves-effect waves-light" name="save" type="submit">Save</button>
				</div>
			</div>		
			
		</form> 

	{{else}}
		<div class="hs_spinner" id="loading" hidden>
			<div class="hs_spinner d-flex justify-content-center align-items-center align-content-center">
				<div class="spinner-border" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
		</div>
		{{includefile 'bootstrap/js/page_common.js'}}
		<script>
			var path = '/devices.html?{{deviceLink}}';
			window.location.replace(path);
		</script>

	{{end}}
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

{{includefile 'bootstrap/js/page_common.js'}}
</body>
</html>
