[*.cs]

# CA1707: Remove the underscores from assembly name HSPI_InfluxDBPersistence.
dotnet_diagnostic.CA1707.severity = silent


# CA1031: Modify 'HandleAction' to catch a more specific allowed exception type, or rethrow the exception.
dotnet_diagnostic.CA1031.severity = silent

# CA1303: Method 'Task<bool> InfluxDBMeasurementsCollector.Record(RecordData data)' passes a literal string as parameter 'message' of a call to 'HspiException.HspiException(string message)'. Retrieve the following string(s) from a resource table instead: "Collection not started".
dotnet_diagnostic.CA1303.severity = silent
