<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--This maintains the scale of the page based on the scale of the screen-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--This liquid tag loads all of the necessary css files for HomeSeer-->
    {{includefile '/bootstrap/css/page_common.css'}}
    <title>InfluxDB Device Add</title>
	
    <link href="/css/hs.css" rel="stylesheet">
</head>
	{{	

	validation=[]
	data={}
	
	if queries["save"]
		data=queries
		validation=plugin_function 'InfluxDBPersistence' 'AddDeviceImportData' [queries]	
		redirect=validation.empty?
	end
	}}
	
<body class="body homeseer-skin ml-0 mr-0" aria-busy="true">	
    {{includefile 'header.html'}}
    {{includefile 'navbar.html'}}
	
<div class="container-fluid"> 
	
	{{if !redirect}}
	<form class="md-form" action="/InfluxDBPersistence/adddeviceimport.html" method="GET">		
		
		{{if !validation.empty?}}
			<div class="row mt-1 mb-1">
				<div class="md-form col-md-6 alert alert-danger" role="alert">
					{{ for item in validation}}	
						{{ item }}<BR>
					{{end}}
				</div>
			</div>
		{{end}}
			
		<div class="row mt-1 mb-1">
			<div class="md-form col-md-6">	 
				<input type="text" id="name" class="form-control" name="name" value="{{data['name'] | html.escape}}" required>
				<label for="name">Name of the device</label>
			</div>
		</div>		
		
		<div class="row mt-1 mb-1">
			<div class="md-form col-md-6">
				<label class="my-0">Sql for importing from database</label>
				<textarea id="sql" class="form-control" name="sql" required>{{data['sql'] | html.escape}}</textarea>	
			</div>
		</div>
								
		<div class="row mt-1 mb-1">
			<div class="md-form col-md-6">	 
				<input type="number" id="intervalseconds" class="form-control" name="intervalseconds" value="{{data['intervalseconds'] | html.escape}}" required>
				<label for="measurement">Interval in seconds for each update</label>
			</div>
		</div>

		<div class="row mt-1 mb-1">
			<div class="md-form col-md-6">	 
				<input type="text" id="unit" class="form-control" name="unit" value="{{data['unit'] | html.escape}}">
				<label for="measurement">Unit of value shown in device</label>
			</div>
		</div>	

		<div class="row mt-1 mb-1">
			<div class="col-md-6 d-flex justify-content-end">
 				<button class="btn btn-default waves-effect waves-light" name="save" type="submit">Save</button>
			</div>
		</div>		
		
	</form> 
	
	{{else}}

	{{includefile 'bootstrap/js/page_common.js'}}
	<script>
	window.location.replace("/devices.html");
	</script>

{{end}}
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

{{includefile 'bootstrap/js/page_common.js'}}
</body>
</html>
