<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--This maintains the scale of the page based on the scale of the screen-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--This liquid tag loads all of the necessary css files for HomeSeer-->
	
    {{includefile '/bootstrap/css/page_common.css'}}
    <title>InfluxDB History</title>
	
    <link href="/css/hs.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/InfluxDBPersistence/datatables.min.css"/>
	<link rel="stylesheet" type="text/css" href="/InfluxDBPersistence/metricsgraphics.css"/>
</head>

	{{
	refId=queries['refId'] ?? ""
	feature=queries['feature'] ?? ""
	displayDeviceRefId=queries['displayDeviceRefId'] ?? ""
	displaySelect=queries['displaySelect'] ?? ""
	displayPeriod=queries['displayPeriod'] ?? ""
	displayGroup=queries['displayGroup'] ?? ""
	
	if displayDeviceRefId != ""
		finalRefId=displayDeviceRefId
	else if feature != ""
		finalRefId=feature
	else
		finalRefId=refId
	end		
	
	deviceDisplayDetails=plugin_function 'InfluxDBPersistence' 'GetAllowedDisplays'[finalRefId] 
		
	if !deviceDisplayDetails
		deviceDisplayDetails=[]
	end
	
	if deviceDisplayDetails.empty? 
		# there is no valid displays
		displaySelect=""
	else if !(deviceDisplayDetails | array.contains displaySelect)
		# select default value if current value is not select
		if array.contains deviceDisplayDetails "chart"
			displaySelect="chart"
		else
			displaySelect="table"	
		end	
	end	
	
	if displaySelect != ""
		rangeOptionsForTable=[ 
						 ["Last 10 values", "10", "", "last10values"], 
					 ]
									 
		rangeOptionsForOthers=[ 
						 ["Last 6 hours", "", "06:00:00", "6hr"],
						 ["Last 24 hours", "", "1.00:00:00", "1d"],
						 ["Last 7 days", "", "7.00:00:00", "7d"],
						 ["Last 30 days", "", "30.00:00:00", "30d"],
						 ["Last 90 days", "", "90.00:00:00", "90d"],
						 ["Last 365 days", "", "365.00:00:00", "365d"],
					 ]
									
		if displaySelect=="table"
			rangeOptions = rangeOptionsForTable | array.concat rangeOptionsForOthers
		else
			rangeOptions = rangeOptionsForOthers
		end		
		
		rangeOptionFound = false
		for rangeOption in rangeOptions
			if rangeOption[3]==displayPeriod
				rangeOptionFound=true
				break
			end
		end

		if !rangeOptionFound
			displayPeriod = rangeOptions[0][3]
		end	
			
		groupOptions=[ 
			 ["Auto", "", ""],
			 ["1 minute",  "00:01:00", "1m"],
			 ["5 minute",  "00:05:00", "5m"],
			 ["30 minute",  "00:20:00", "30m"],
			 ["1 hour",  "01:00:00", "60m"],
			 ["12 hours",  "12:00:00", "12hr"],
			 ["1 day",  "1.00:00:00", "24hr"],
			]				
	end
	}}	
	
<body class="body homeseer-skin ml-0 mr-0" style="min-height: 18rem" aria-busy="true">	
<!-- refId={{refId}}<BR> -->
<!-- finalRefId={{finalRefId}}<BR> -->
<!-- deviceDisplayDetails={{deviceDisplayDetails}}<BR> -->
<!-- displaySelect={{displaySelect}}<BR> -->
<!-- displayPeriod={{displayPeriod}}<BR> -->
<!-- displayGroup={{displayGroup}}<BR> -->


`
<div class="container-fluid"> 
	<div class="hs_spinner" id="loading">
		<div class="hs_spinner d-flex justify-content-center align-items-center align-content-center">
			<div class="spinner-border" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
	</div>	
	<nav class="navbar">
		<form class="form-inline my-0 mx-0" action="/InfluxDBPersistence/feature.html" method="GET" style="width:100%">	
			<input type="hidden" id="refId" name="refId" value="{{refId}}"> 
			<input type="hidden" id="feature" name="feature" value="{{feature}}">

			{{device=plugin_function 'InfluxDBPersistence' 'GetDeviceAndFeaturesNames'[refId] }}
			{{if device}}
				<div class="md-form my-0 mr-3" style="width:100%">
					<select id="displayDeviceRefId" class="mdb-select md-form colorful-select " name="displayDeviceRefId" >
						{{for child in device}}
							<option value="{{child.key}}" {{if child.key==finalRefId;}}selected{{end}} >{{child.value | html.escape}}</option>	
						{{end}}			
					</select> 
					<label class="mdb-main-label" for="displayDeviceRefId">Feature</label>
				</div>
			{{else}}
				{{refId}} Device not found {{device}}
			{{end}}

			
			{{if displaySelect != ""}}
				<div class="md-form my-0 mr-3">
					<select id="displaySelect" class="mdb-select md-form colorful-select" name="displaySelect">
						{{ for displayType in deviceDisplayDetails }}									
							<option value="{{displayType | html.escape}}" {{if displayType==displaySelect;}}selected{{end}}>
							{{
							case displayType
								when "table"
									"Table"
								when "chart"
									"Chart"
								when "averageStats"
									"Average Stats"
								when "histogram"
									"Histogram"
								else
									"Unknown"
							end														
							}}</option>								
						{{ end }}
					</select> 
					<label class="mdb-main-label" for="displaySelect">Display Type</label>
				</div>	
				
				<div class="md-form my-0 mr-3">
					<select id="displayPeriod" class="mdb-select md-form colorful-select" name="displayPeriod">
						{{for rangeOption in rangeOptions}}
							<option value="{{rangeOption[3]}}" {{if rangeOption[3]==displayPeriod;}}selected{{end}}>{{rangeOption[0] | html.escape}}</option>	
						{{end}}			
					</select> 
					<label class="mdb-main-label" for="displayPeriod">Period</label>
				</div>

				{{if displaySelect!="table" && displaySelect!="histogram"}}
					<div class="md-form my-0 mr-3">
						<select id="displayGroup" class="mdb-select md-form colorful-select" name="displayGroup">
							{{for groupOption in groupOptions}}
								<option value="{{groupOption[2]}}" {{if groupOption[2]==displayGroup;}}selected{{end}}>{{groupOption[0] | html.escape}}</option>	
							{{end}}			
						</select> 
						<label class="mdb-main-label" for="displayGroup">Grouping</label>
					</div>
				{{end}}
			{{end}}
			{{if displaySelect != ""}}
				<ul class="navbar-nav ml-auto nav-flex-icons nav-right"  >
				  <li class="nav-item">	  
					<a class="nav-link waves-effect waves-light" data-mdb-toggle="tooltip" title="Change InfluxDb persistence options for device"  href="/InfluxDBPersistence/addeditpersistence.html?devicerefid={{finalRefId}}">
					  <i class="fa fa-edit"></i>
					</a>
				  </li>
				</ul>
			{{end}}		
		</form>
		

	</nav>	  

	{{if displaySelect != ""}}
		{{			
			recordLimit = ""
			duration = ""
			grouping = ""
		
			for rangeOption in rangeOptions
				if rangeOption[3]==displayPeriod
					recordLimit=rangeOption[1]
					duration=rangeOption[2]
					break
				end
			end
			
			for groupOption in groupOptions
				if groupOption[2]==displayGroup
					grouping=groupOption[1]
					break
				end
			end
		}}

		{{needDataTables=false}}
		{{if displaySelect=="table"}}
			{{tableData=plugin_function 'InfluxDBPersistence' 'BuildHistoryTableData' [finalRefId, recordLimit, duration]}}
			{{if !tableData.empty? }}
				<table id="dt-persistence" class="table table-sm mb-0"cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Time</th> 
						<th>{{device_name_full finalRefId | html.escape}}</th> 
					</tr>
				</thead> 
					{{tableData}}
				<table>	
			{{else}}
			<div class="text-center my-3"><p>No data found</p></div>	
			{{end}}		
			{{needDataTables=true}}
		{{else if displaySelect=="chart"}}
			<div id='chartGraph2' align="center"></div>
			<script>
			    var chartDataFromDB = {{plugin_function 'InfluxDBPersistence' 'GetRegularDataAsJSArray' [finalRefId, duration, grouping] }};
			</script>
		{{else if displaySelect=="averageStats"}}
			<table id="dt-persistence" class="table table-sm mb-0"cellspacing="0" width="100%">
				<thead>
					<tr>
						<th></th> 
						<th></th> 
					</tr>
				</thead> 
				{{plugin_function 'InfluxDBPersistence' 'BuildAverageStatsData' [finalRefId, duration, grouping] }}
			<table>		
			{{needDataTables=true}}	
		{{else if displaySelect=="histogram"}}
			<table id="dt-persistence" class="table table-sm mb-0"cellspacing="0" width="100%">	
				<thead>
					<tr>
						<th>Value</th> 
						<th>Total Time</th> 
						<th>Percentage</th> 
					</tr>
				</thead> 
				{{plugin_function 'InfluxDBPersistence' 'BuildHistogramData' [finalRefId, duration] }}
			<table>		
			{{needDataTables=true}}	
		{{end}}		
	{{else if device}}
		<a class="btn btn-primary" role="button" href="/InfluxDBPersistence/addeditpersistence.html?devicerefid={{finalRefId}}">Store History</a>
	{{end}}

</div>
 
{{includefile 'bootstrap/js/page_common.js'}}
<script type="text/javascript" src="/InfluxDBPersistence/iframeResizer.contentWindow.min.js"></script>

{{if needDataTables}}
<script type="text/javascript" src="/InfluxDBPersistence/datatables.min.js"></script>
{{end}}

{{if displaySelect=="chart"}}
<script type="text/javascript" src="/InfluxDBPersistence/d3.min.js"></script>
<script type="text/javascript" src="/InfluxDBPersistence/metricsgraphics.min.js"></script>
{{end}}

<script>
$(function() {
    $('#displayDeviceRefId').change(function() {
        this.form.submit();
    });  

	$('#displaySelect').change(function() {
        this.form.submit();
    });	
	
    $('#displayPeriod').change(function() {
        this.form.submit();
    });	
    
{{if displaySelect!="table" && displaySelect!="histogram"}}	
	$('#displayGroup').change(function() {
        this.form.submit();
    });	
{{end}}	
});

{{if needDataTables}}

function setUpPersistanceTable() {
  $('#dt-persistence').dataTable({
	'order': [],
	'paging': false,
	'bInfo': {{displaySelect == 'table'}}, 
  });
  
  // the following may break in future
  $('#dt-persistence_wrapper').find('label').each(function () {
    $(this).parent().append($(this).children());
  });
  $('#dt-persistence_wrapper .dataTables_filter').find('input').each(function () {
    const $this = $(this);
    $this.attr("placeholder", "Search");
    $this.removeClass('form-control-sm');
  });
  $('#dt-persistence_wrapper .dataTables_length').addClass('d-flex flex-row');
  $('#dt-persistence_wrapper .dataTables_filter').addClass('md-form').addClass('my-0');
  $('#dt-persistence_wrapper select').removeClass('custom-select custom-select-sm form-control form-control-sm');
  $('#dt-persistence_wrapper select').addClass('mdb-select');
  $('#dt-persistence_wrapper .mdb-select').materialSelect();
  $('#dt-persistence_wrapper .dataTables_filter').find('label').remove();
}

$(document).ready(function () {
	setUpPersistanceTable();
	$('#loading').hide();
});	

{{else if displaySelect=="chart"}}

function setUpChart() { 
 var graph = MG.data_graphic({
                    data: chartDataFromDB,
                    target: document.getElementById('chartGraph2'),
                    x_extended_ticks: true,             
                    area: true,
                    interpolate: d3.curveMonotoneX,
                    min_y_from_data: true,
                    color: '#329de4',
                    x_rollover_format: function(d) { return d.date.toLocaleString() + ' '; },
					title:'{{device_name_full finalRefId | html.escape}}',
					full_width: true,
					// full_height: true,
					width: 300,
					height: 500,
					animate_on_load: false,
				 });
}

$(document).ready(function () {
	setUpChart();
	$('#loading').hide();
});

$( window ).resize(function() {
	$('#loading').show();
    setUpChart();
	 $('#loading').hide();
});	 

{{else}}	
$(document).ready(function () {
	$('#loading').hide();
});
{{end}}

</script>
</body>
</html>
